*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: black;
}


/* Custom Font Link */
@font-face {
  font-family: 'MyCustomFont';
  src: url('../myCustomFont.ttf') format('truetype');
}
.miama-font{
  font-family: MyCustomFont;
  color: #E6533C;

}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.hide{
  display: none;
}

.glass{
  background-color: rgba(0, 0, 0, 0.801);
  backdrop-filter: blur(6px);
}


.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-color{
  color: rgba(255, 255, 255, 1);
}
.btn-bg{
  background-color: #E6533C;
}
.bg-clr{
  background-color: #222222;
}

/* all P */
.all-p{
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 30px 0 50px;
}

/* Burger btn */
.burger {
  display:  none;
  padding: 10px;
 
  /* background-color: aquamarine; */
}
.burger:hover {
  background-color: #3A3A3A;
  color: white;
  /* background-color: aquamarine; */
}
.burger i {
  font-size: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

/* Header */
header{
width: 100%;
display: flex;
flex-direction: column;
  position: relative;
  /*! height: 100vh; */
  background: rgb(0, 0, 0);
background: linear-gradient(180deg, rgba(0, 0, 0, 0.952) 30%, rgb(75, 75, 75) 100%);
}

.header{
  width: 100%;
  padding: 20px 0;
/* backdrop-filter: blur(2px); */
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo{
  width: 100%;
  cursor: Arrow;
}
.logo h1{
  color: #E6533C;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  /* padding: 20px 0; */
}
.menu{
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;


}
.menu a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 35px ;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  cursor: default;
  
}
a:hover{
 background-color: rgb(0, 0, 0);
 /* padding: 10px 40px; */
 border-radius: 40px;
 background-color: #E6533C;
}
a:active{
 background-color: rgb(202, 14, 14);
 /* padding: 10px 40px; */
 border-radius: 40px;
}


/* hero */
.hero{
  width: 100%;
  /*! padding: 100px 0; */
  /* background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(4px); */

}
.hero .container{

  margin:0px auto;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*! grid-template-columns: 1fr 1fr; */
  /* background-color: #E6533C; */
  /*! grid-template-rows: 1fr; */
  flex-direction: row;
}

.circle{
  background-color: #E6533C;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}
.hero-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
 width:100%;
  /* background-color: rgb(25, 25, 88); */
  /* gap: 20px; */
  padding: 20px  0;

}
.hero-details h1{
  width: 90%;
  /* word-wrap: wrap; */
  font-size: 80px;
 
  font-weight: 900;
  color: white;
  line-height: 80px;
}
.hero-details p{
  width: 80%;
}

.btn-container{
  width: 100%;
  display: flex;
  gap: 20px;
}
.btn-container  a{
  text-decoration: none;

  color: rgba(255, 255, 255, 1);
  padding: 20px 40px ;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  border: 2px solid white;
}
.btn-container  a:first-child{
  background-color: #E6533C;
}
.btn-container  a:hover{
  color: #E6533C;
  background-color: white;
  border: 2px solid #E6533C;
}
 /* .btn-container  a:last-child:hover{
  color: #E6533C;
  background-color: white;
  border: 2px solid #E6533C; 
} 
*/


.hero-img{
  display: flex;
 flex-direction: column;
  width: 70%;
  /* height: fit-content; */
  /* background-color: rgb(57, 236, 12); */
  position: relative;

  justify-content: flex-end;
  align-items: center;
}
img{
  width: 100%;
  /* height: 100%; */
  max-width: 400px;
}
.hero-img  .all-p{
  font-size: 20px;
  width: 100%;
  margin: 0;
  /* background-color: aquamarine; */
}
.hero-img  h1{
  width: 100%;
  align-self: center;
  font-weight: 800;
  font-size: 30px;
  /* background-color: antiquewhite; */
}
.video1 h1{
  font-size: 35px;
}
.video1{
  position: absolute; 
  top:200px;
  right: -10px;
  padding: 20px 30px;
  border-radius: 15px;
  color: white;
  background-color: rgba(255, 255, 255,0.1);
  backdrop-filter: blur(5px);
}
.video2 {
  position: absolute;
  bottom: 100px;
  left: -50px;
  padding: 20px 30px;
  border-radius: 15px;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}


/* Habit */

.habit{
  background-color: black;
  width: 100%;
}

.habit .container{
   width: 90%;
   margin: 0 auto;
  display: flex;
  flex-direction: column;
text-align: center;
justify-content: center;

}

.details{
width: 60%;
margin: 50px auto;
}
.details .headline{
  color: white;
  font-weight: 900;
  font-size: 48px;
  margin: 0;
}
.details .all-p{
margin: 20px 0;
}

.habit-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  

}
.habit-flex .details{
  width: 100%;
margin: 20px 0;
}
.box{
  width: 300px;
  /* background-color: #E6533C; */
}
.box img{
  width: 90%;
  border-radius: 50%;
  border: 5px solid #3A3A3A;
}
.box:hover img{
  border: 7px solid #E6533C;
  cursor: default;
}
.box .details .headline{
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.box .details .all-p{
  font-size: 16px;
  width: 100%;
  /* background-color: aquamarine; */
}


/* Extra */
.extra{
  width: 100%;
  /* height: 60vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 4px solid red; */
}
.containerr{
  /* border: 4px solid red; */
  width: 85%;
  margin: 50px auto;
   border-radius: 20px ;
   display: flex;
   justify-content: space-between; 
  align-items: center;   
   /* gap: 50px;  */
}

.extra .details{
  width: 100%;
  margin: 50px auto;
  /* height: 80%; */
  padding: 0 50px;
  /* border: 4px solid red; */
  display: flex;
     flex-grow: 1;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.extra .details{
  width: 100%;
  margin: 0;
}
.extra .img{
  display: flex;
  text-align: center;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100%;
  /* max-width: 1200px; */
  height: 50ch;
  padding: 50px;
  /* border: 4px solid red; */
}

.extra img{
  /* transform: scale(1.5); */
  width: 100%;
 
  max-width: 1200px;
  border-radius: 20px;
}



/* Responsive */
@media screen and (max-width:576px) {

  .club{display: none;}
  .container{
    width: 90%;
    padding: 0;

  }

.all-p{
    font-size: 1em;
    margin: 20px 0;
  }

  /* Menu */
  .menu{
    display: none;
  }
  .burger{
    display: block;
  }

  /* Hero */
  .hero .container{
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .hero-details{
  width: 90%;
  }
  .hero-details h1 {
    font-size: 4rem;
    font-weight: 900;
    color: white;
    line-height: 1em;
    letter-spacing: 2px;
  }
  .btn-container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .btn-container a{
  font-size: 1rem;
  padding: 1em 1em;
  }
  .hero-img{
    width: 80%;
    /* background-color: #E6533C; */
  }
  .hero-img img{
    height: 60vh;
  }
  .hero-img  .all-p{
    font-size: .8em;
    width: 100%;
    align-self: center;
  }
  .hero-img  h1{
    font-size: 1.7em;
  }
  .circle{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;

  }

  .video1 h1{
    font-size: 1.5rem;
  }
  .video1{
    padding: 1em 1em;
    top:0px;
    right: -20px;

  }
  .video2{
    bottom: 50px;
    left: -40px;
    padding: 1em 1em;
    display: flex;
    gap: 20px;
    align-items: center;

  }


/* Habit */

.habit{
  background-color: black;
  width: 100%;
  padding: 20px 0;
}

.habit .container{
   width: 90%;
   margin: 0 auto;
  flex-direction: column;
text-align: center;
justify-content: center;

}

.details{
width: 100%;
margin: 20px auto;
}
.details .headline{
  color: white;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}
.details .all-p{
  font-size: 1rem;
  margin: 10px;
}

.habit-flex{
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  

}
.habit-flex .details{
  width: 100%;
margin: 20px 0;
}
.box{
  width: 300px;
  /* background-color: #E6533C; */
}
.box img{
  width: 90%;
  border-radius: 50%;
  border: 5px solid #3A3A3A;
}
.box .details .headline{
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.box .details .all-p{
  font-size: 16px;
  width: 100%;
  /* background-color: aquamarine; */
}


/* Extra */
.extra{
  width: 100%;

}
.containerr{
  /* border: 4px solid red; */
  width: 90%;
  margin: 50px auto;
  flex-direction: column;
padding: 0;
}

.extra .details{
  width: 100%;
  margin: 20px auto;
  /* height: 80%; */
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.extra .details .all-p{
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}
.extra .img{

  padding: 20px;
  text-align: center;
  width: 100%;
  /* border: 4px solid red; */
}

.extra img{
  /* transform: scale(1.5); */
  width: 100%;
  border-radius: 20px;
}

  
}


/* Resposive 577 to 993 */

@media screen and (min-width:576px) and (max-width:993px) {

  .container{
    width: 90%;
    padding: 0;

  }

.all-p{
    font-size: 1.2rem;
    margin: 20px 0;
  }

  /* Menu */
  .menu{
    display: none;
  }
  .burger{
    display: block;
  }

  /* Hero */
  .hero .container{
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .hero-details{
  width: 90%;
  }
  .hero-details h1 {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    line-height: 1em;
    letter-spacing: 2px;
  }
  .btn-container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .btn-container a{
  font-size: 1.2rem;
  padding: 1em 1em;
  }
  .hero-img{
    width: 80%;
    /* background-color: #E6533C; */
  }
  .hero-img img{
    height: 60vh;
  }
  .hero-img  .all-p{
    font-size: 1rem;
    width: 100%;
    align-self: center;
  }
  .hero-img  h1{
    font-size: 1.7em;
  }
  .circle{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;

  }

  .video1 h1{
    font-size: 1.7rem;
  }
  .video1{
    padding: 1em 1em;
    top:50px;
    right: 20px;

  }
  .video2{
    bottom: 50px;
    left: -50px;
    padding: 1em 1em;
    display: flex;
    gap: 20px;
    align-items: center;

  }


 /* Habit */

.habit{
  background-color: black;
  width: 100%;
  padding: 20px 0;
}

.habit .container{
   width: 90%;
   margin: 0 auto;
  display: flex;
  flex-direction: column;
text-align: center;
justify-content: center;

}

.details{
width: 100%;
margin: 20px auto;

}
.details .headline{
  color: white;
  font-weight: 900;
  margin: 0;
}
.details .all-p{
  font-size: 1rem;
  margin: 10px auto;
  width: 80%;
  
}

.habit-flex{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* background-color: #E6533C; */
  

}
.habit-flex .details{
  width: 100%;
margin: 20px 0;
}
.box{
  width: 250px;
  /* background-color: #E6533C; */
}
.box img{
  width: 90%;
  border-radius: 50%;
  border: 5px solid #3A3A3A;
}
.box:hover img{
  border: 7px solid #E6533C;
  cursor: default;
}
.box .details .headline{
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.box .details .all-p{
  font-size: 16px;
  width: 100%;
  /* background-color: aquamarine; */
}


/* Extra */
.extra{
  width: 100%;

}
.containerr{
  /* border: 4px solid red; */
  width: 90%;
  margin: 50px auto;
padding: 0;
}

.extra .details{
  width: 100%;
  margin: 20px auto;
  /* height: 80%; */
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.extra .details .all-p{
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}
.extra .img{
  padding: 20px;
  text-align: center;
  width: 100%;
  /* border: 4px solid red; */


}

.extra img{
  width:100%;
  border-radius: 20px;
  /* border: 3px solid red; */
 
  

}


}
